.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

h1 img {
    margin-right: 10px;
    max-width: 50px;
    max-height: 50px;
}

.profile-info {
    margin-top: 20px;
}

.profile-info-item {
    margin-bottom: 10px;
}

.profile-info-item label {
    font-weight: bold;
}

.success-message {
    text-align: center;
    color: green;
    margin-bottom: 20px;
}

.profile-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #c9bae4;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
}

.asd {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}

.lesson-links .list-group-item {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    margin-bottom: 5px;
    padding: 8px 12px;
}

.lesson-links .list-group-item:hover {
    background-color: #0056b3;
    color: #fff;
    border-color: #0056b3;
}

body {
    background-color: #C5D0E6;
}
