<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы математики</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <h1 class="center-text">Уроки по математике</h1>
    <div class="lesson-links">
        <div class="list-group">
            <a href="{{ url_for('lesson1') }}" class="list-group-item list-group-item-action">Урок 1</a>
            <a href="{{ url_for('lesson2') }}" class="list-group-item list-group-item-action">Урок 2</a>
            <a href="{{ url_for('lesson3') }}" class="list-group-item list-group-item-action">Урок 3</a>
            <a href="{{ url_for('lesson4') }}" class="list-group-item list-group-item-action">Урок 4</a>
            <a href="{{ url_for('lesson5') }}" class="list-group-item list-group-item-action">Урок 5</a>
            <a href="{{ url_for('lesson6') }}" class="list-group-item list-group-item-action">Урок 6</a>
            <a href="{{ url_for('lesson7') }}" class="list-group-item list-group-item-action">Урок 7</a>
        </div>
    </div>
</div>
</body>
</html>
