{% extends "base.html" %}

{% block title %}
    Профиль
{% endblock %}

{% block content %}
<div class="container">
    <h1><img src="{{ url_for('static', filename='profile.png') }}" alt="Profile Photo"> Профиль</h1>
    <div class="success-message">
        Вы успешно зарегистрировались!
    </div>
    <div class="profile-info">
        <div class="profile-info-item">
            <label>Фамилия:</label> {{ surname }}
        </div>
        <div class="profile-info-item">
            <label>Имя:</label> {{ name }}
        </div>
        <div class="profile-info-item">
            <label>Отчество:</label> {{ patronymic }}
        </div>
        <div class="profile-info-item">
            <label>Дата рождения:</label> {{ birthdate }}
        </div>
        <div class="profile-info-item">
            <label>Пароль:</label> {{ password }}
        </div>
        <div class="profile-info-item">
            <label>Пол:</label>
            {% if sex == "male" %}
                Мужской
            {% elif sex == "female" %}
                Женский
            {% else %}
                Не указан
            {% endif %}
        </div>
        <div class="profile-info-item">
            <label><strong>Почему вы решили начать обучаться курсу математики:</strong></label> {{ about }}
        </div>
    </div>
    <div style="text-align: center;">
        <a href="/course">Перейти к курсу</a>
    </div>
</div>
{% endblock %}
